body{
    background-color: rgb(61, 125, 221);
    font-family: fantasy;
}

h1 {
    background-color: rgb(88, 5, 5);
    font-family: Georgia;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: center;
    margin: 0;
}
img{
    margin: auto;
    display: block;
}
h2{
    background-color: rgb(19, 16, 150);
    color:rgb(255, 255, 255);
    font-family: 'Lucida Grande', 'Lucida Sans';
    font-style: inherit;
    font-size: 2rem;
}

h3{
    background-color: burlywood;
    font-family: Arial;
    font-style: italic;
    font-size: 1.5rem;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
}